body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

main {
  max-width: 800px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.quote-display {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.typing {
  position: relative;
}
.correct {
  color: #27ae60; /* Green color */
}

.wrong {
  color: #e74c3c; /* Red color */
  text-decoration: line-through;
}

hr {
  border: none;
  border-top: 2px solid #dddddd;
  margin: 20px 0;
}

.score {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.timer,
.words-per-minute {
  text-align: center;
}

.quote-input {
  width: 100%;
  padding: 1px;
  font-size: 1.2em;
  border: 2px solid #dddddd;
  border-radius: 6px;
  min-height: 150px;
  color: #030303;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.feedback {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
  color: #e74c3c; /* Alizarin color */
}

.progress-bar-container {
  height: 20px;
  background-color: #ecf0f1;
  border-radius: 6px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #3498db; /* Belize Hole color */
  transition: width 2s ease; /* Animation duration and easing function */
}

/* Animation for the progress bar */
@keyframes fillProgressBar {
  to {
    width: 100%;
  }
}

.progress-bar.animated {
  animation: fillProgressBar 2s ease;
}


footer {
  text-align: center;
  margin-top: 20px;
}

.credit {
  font-size: 0.9em;
  color: #777777;
}
